DB_URL=sqlite:///./gymhub.db
SECRET_KEY=yoursecretkeyhere

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

FITBIT_CLIENT_ID=your_fitbit_client_id
FITBIT_CLIENT_SECRET=your_fitbit_client_secret

FITBIT_MOBILE_CLIENT_ID=your_fitbit_mobile_client_id
FITBIT_MOBILE_CLIENT_SECRET=your_fitbit_mobile_client_secret

BACKEND_HOST=http://localhost:8000
BACKEND_PORT=8000

ROOT_EMAILS=admin@example.com,ivans@example.com
FRONTEND_URL=http://localhost:3000
